body{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.outer_div{
    width: 60%;
    height: 1000px;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: 19%;
    padding-left: 1%;
    padding-top: 10px;
    border-radius: 5px;
}

.welcome{
    color: rgb(211, 211, 211);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inner_div{
    margin: auto;
    width: 40%;
    height: 300px;
    padding: 10px;
    border: none;
    background-color: none;
}

.input_text{
    width: 100%;
    border: none;
    height: 25px;
    background-color: rgb(211, 211, 211);
    border-radius: 2px;
}
